/* Color variables based on the palette */
:root {
    --primary-light-green: #cc99b3;  /* Light green  */
    --primary-medium-green: #9a6262; /* Medium green */
    --primary-dark-green: #3e612d;   /* Dark green */
    --accent-dark-violet: #572c48;   /* Dark violet for highlights */
    --accent-pink: #c65792;          /* Pink for highlights */
}

/* General styling */
body {
    background-color: var(--primary-light-green);
    color: var(--primary-dark-green);
    font-family: 'Montserrat', sans-serif;
    margin: 0;  
    padding: 0; 
}

main {
    margin: 0 !important;
    padding: 20px 0 0 0 !important; 
    position: relative;
}

.text-green {
    color: var(--primary-dark-green);
}

/* Navbar */
.navbar {
    background-color: var(--primary-medium-green);
    padding: 1.2rem 2rem; 
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
}

.navbar-brand {
    color: white !important;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav .nav-link {
    color: white !important;
    margin-left: 1rem;
    transition: color 0.3s ease, border-radius 0.3s ease, background-color 0.3s ease;
    border-radius: 0; 
}

.navbar-nav .nav-link:hover, .navbar-nav .nav-link.active {
    background-color: var(--accent-dark-violet); 
    color: var(--primary-light-green) !important; 
    border-radius: 10px; 
}

.navbar-toggler {
    border-color: white;
}

/* Main Banner */
.jumbotron {
    position: relative;
    background-size: cover;
    color: var(--primary-light-green);
    padding: 7em 2rem; 
    border-radius: 15px;
    font-family: 'Bodoni Moda', serif;
    text-align: center;
}

/* Overlay Layer */
.jumbotron::before {
    content: ""; 
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(87, 44, 72, 0.3); 
    border-radius: 15px; 
    z-index: 1; 
}

/* Text Inside Banner */
.jumbotron h1,
.jumbotron p,
.jumbotron .btn {
    position: relative; 
    z-index: 2; 
}

.jumbotron h1 {
    font-size: 4rem; 
    color: white; 
    font-weight: bold;
}

.jumbotron p {
    font-size: 1.5rem;
    color: white; 
}

.jumbotron-welcome {
    font-size: 4rem; 
    font-weight: bold; 
    color: white;     
}

.jumbotron-message {
    font-size: 1.5rem; 
    font-weight: 400;  
    color: white;     
}

.jumbotron .jumbotron-btn {
    background-color: var(--accent-pink);
    border: var(--accent-pink);
    color: white;
    font-weight: bold;
    border-radius: 10px; 
    transition: background-color 0.3s ease, color 0.3s ease;
}

.jumbotron .jumbotron-btn:hover {
    background-color: var(--accent-dark-violet);
    color: white;
}


/* General cards style */
.card {
    display: block; 
    visibility: visible; /
    opacity: 1; 
    margin-top: 1rem;
    border: 1px solid var(--primary-medium-green); 
    background-color: white; 
    font-family: 'Montserrat', sans-serif;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    border-radius: 10px; 
}

/* White card title */
.card-title {
    color: white;
    font-family: 'Bodoni Moda', serif;
    font-weight: bold;
}

/* Green card title */
.card-title-green {
    color: var(--primary-dark-green);
    font-family: 'Bodoni Moda', serif;
    font-weight: bold;
}

/* Custom card header light green background */
.card-header-custom {
    background-color: var(--primary-light-green);
}

/* Custom card header dark green text color */
.card-header-text-custom {
    color: var(--primary-dark-green);
}

/* Dark green card text */
.card-text {
    color: var(--primary-dark-green);
}

/* Image inside cards */
.card img {
    width: 100%; 
    height: 12rem; 
    object-fit: cover; 
    border-radius: 0.5rem; 
}

.image-container {
    width: 100%; 
    height: 12rem; 
    overflow: hidden; 
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

/* Ingredient list styling */
.ingredient-item, .instruction-item, .description-item  {
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-dark-green);
    padding: 0.75rem 0; 
    margin-left: 1.5rem; 
}

.description-item {
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-dark-green);
    padding: 0.75rem 0; 
    margin-left: 0; /
}

.content-box {
    background-color: white; 
    padding: 1.5rem;
    border: 1px solid var(--primary-medium-green); 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-bottom: 2rem; 
}

/* Footer */
.footer {
    background-color: var(--primary-medium-green);
    color: var(--primary-light-green); 
    padding: 20px 0; 
    text-align: center; 
    font-family: 'Montserrat', sans-serif; 
}

.footer a {
    color: var(--accent-pink);
    transition: color 0.3s ease-in-out, border-radius 0.3s ease;
    border-radius: 5px; 
    text-decoration: none;
}

.footer a:hover {
    color: var(--primary-dark-green);
    border-radius: 10px; 
}

.footer i {
    color: var(--accent-pink); 
    font-size: 1.2rem; 
    margin: 0 10px; 
    transition: color 0.3s ease; 
}

.footer i:hover {
    color: var(--primary-dark-green); 
}

.footer p {
    margin: 10px 0; 
    color: var(--primary-light-green); 
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Bodoni Moda', serif;
    color: var(--primary-dark-green);
}

p {
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-dark-green);
}

/* Flash messages */
.alert-success {
    background-color: var(--primary-medium-green);
    border-color: var(--primary-medium-green);
    color: var(--primary-light-green);
    border-radius: 10px; 
}

.alert-danger {
    background-color: var(--accent-dark-violet);
    border-color: var(--accent-dark-violet);
    color: var(--primary-light-green);
    border-radius: 10px; 
}

.alert-info {
    background-color: var(--primary-light-green);
    border-color: var(--primary-light-green);
    color: var(--primary-dark-green); 
    border-radius: 10px; 
}

.alert-warning {
    background-color: var(--accent-pink);
    border-color: var(--accent-pink);
    color: var(--accent-dark-violet); 
    border-radius: 10px; 
}

/* Logged-in message adjastments */
p.logged-in-message {
    margin: 0; !important;   
    padding: 0; !important;   
    line-height: 1; !important;   
    color: var(--primary-dark-green);
    font-size: 0.9rem;  
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    position: absolute;  
    top: 0.5rem;  
    right: 0; 
    z-index: 100; 
    text-align: right;  
    margin-bottom: 0.5rem; !important;
}

/* Pagnation controls style */
.pagination {
    margin-top: 1rem;  
    margin-bottom: 1rem;  
}

.pagination .page-item .page-link {
    color: var(--primary-dark-green);
    border: 1px solid var(--primary-medium-green);
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination .page-item.active .page-link {
    background-color: var(--primary-medium-green);
    border-color: var(--primary-medium-green);
    color: white;
}

.pagination .page-item .page-link:hover {
    background-color: var(--accent-dark-violet);
    color: white;
    border-color: var(--accent-dark-violet);
}

/* Style for tags */
.badge-primary {
    background-color: var(--primary-dark-green); 
    color: white;
    margin-right: 5px;
}

/* Buttons */
.btn {
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border: none;
}

/* Green button (extends .btn) */
.btn-green {
    background-color: var(--primary-medium-green);
    border: none;
    color: white;
    width: 80%;  
    max-width: 12.5rem;
    display: block;  
    margin: 0 auto;  
}

.btn-green:hover {
    background-color: var(--accent-dark-violet);
    color: white;
}

/* Pink button (extends .btn) */
.btn-pink {
    background-color: var(--accent-pink);
    border: none;
    color: white;
    width: 80%;  
    max-width: 12.5rem;  
    display: block;  
    margin: 0 auto; 
}

.btn-pink:hover {
    background-color: var(--accent-dark-violet); 
    color: white;               
} 
 
/* Red button (extends .btn) */
.btn-danger {
    background-color: #dc3545;
    color: white;
    width: 80%;  
    max-width: 12.5rem;
    display: block;  
    margin: 0 auto; 
}

.btn-danger:hover {
    background-color: #bd2130;
}

/* Search button */
.btn-outline-success {
    color: white;
    border-color: white;
    transition: background-color 0.3s ease, color 0.3s ease, border-radius 0.3s ease;
}

.btn-outline-success:hover, .btn-outline-success:focus {
    background-color: white;
    color: var(--primary-medium-green);
    border-radius: 15px; 
}